header{
    position: fixed;
    top: 0;
    left: 25vw;
    z-index: 1000;
    margin: 0;
    padding: 0;
    background-image: url("../imagenes/bandera_alemania.jpg");
    background-size: cover;
    background-position: center;
    max-width: 1350px;
    min-width: 150px;
    width: 100vw;
    max-height: 200px;
    min-height: 45px;   
    height: 15vw;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
body{
    margin: 0;
    height: 100%;
}
h1{
    position: absolute;
    top: -3.5vw;
    left: 17vw;
    transform: translate(10vw, 8vw);
    font-size: 5vw;
    font-family: "IM Fell Double Pica SC", serif;
    font-style: normal;
    font-weight: 600;
    padding: 0;
    margin: 0;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline-block;
    margin-right: 4vw;
    font-size: 1.5vw;
}
nav ul li:first-child{
    margin-left: 2vw;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: block;
}
nav ul li a:active{
    color: rgb(108, 5, 204);
}
article{
    margin-top: 15vw;
    margin-left: 25vw;
}
.navegacion_principal:hover{
    box-shadow: 4px 4px 8px rgba(214, 4, 4, 0.774);
    font-size: 1.7vw;
    margin-right: -2.6vw;
}
aside{
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    max-width: 350px;
    min-width: 80px;
    width: 24vw;
}