*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(241, 241, 241);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    width: 90%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
main aside{
    position:fixed;
    padding: 0;
    margin: 0;
    min-width: 100px;
    max-width: 300px;
    width: 22vw;
    height: 100%;
    background-color:rgba(245, 228, 228, 0.336);
}
main aside section h4{
    text-align: center;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
    margin-top: 1vw;
}
main aside section ul{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.1vw;
}
main aside section ul li a{
    text-decoration: none;
    color:rgb(97, 97, 97);
}
main aside section ul li a:hover{
    color:blue;
}
main header{
    position: fixed;
    z-index: 1000;
    left: 22vw;
    max-height: 150px;
    min-height: 80px;   
    height: 11vw;
    width: 77.7%;
    background-image: url("../imagenes/bandera_alemania.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}
main header h1{
    font-size: 4.5vw;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}
main header nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
main header nav ul li{
    display: inline-block;
    margin-right: 2.9vw;
    font-size: 1.5vw;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;

}
main header nav ul li:first-child{
    margin-left: -3vw;
}
main header nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    display: block;
}
main header nav ul li a:active{
    color: rgb(108, 5, 204);
}
main header nav ul li a:hover{
    box-shadow: 4px 4px 8px rgba(214, 4, 4, 0.774);
    font-size: 1.7vw;
    margin-right: -2.79vw;
    margin-top: -1vw;
    padding: 0;
}
main header nav ul li:nth-child(2) a:hover{
    margin-left: 0.1vw;
}
main header nav ul li:nth-child(3) a:hover{
    margin-left: 0.1vw;
}
main article{
    position: absolute;
    top: 11vw;
    left: 22vw;
    margin-bottom: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    background-color:rgb(241, 241, 241);
    text-align: center;
    align-items: center;
}
main article ul, main article ol{
    list-style: none;
    padding: 0;
}
main article h2{
    font-size: 2vw;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}
main article h3{
    font-size: 1.5vw;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}
main article p{
    font-size: 1.1vw;
    font-family: "Gruppo", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0;
    margin: 0;
}
main article p strong{
    font-size: 1.1vw;
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 0;
    margin: 0;
}
#turismo{
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 70vw;
    height: auto;
    column-gap: 1vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
#turismo div{
    position: relative; 
}
#turismo div h3{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color:gold;
}
#turismo div p{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 1.5vw;
}
#turismo div:nth-child(2) p{
    top: 65%; 
}
#turismo div:nth-child(5) p{
    top: 65%; 
}
#turismo div img{
    width: 35vw;
    height: auto;
    border-radius: 1vw;
}
#turismo div:nth-child(3) img{
    height: 60vw;
}
#turismo div:hover img{
    opacity: 0.5;
    transition: opacity 0.5s ease;
}
#turismo div:not(:hover) img{
    opacity: 1;
    transition: opacity 0.5s ease;
}
#turismo div:hover:nth-child(1) h3{
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, 0);
    font-size: 1.7vw;
    color: black;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:hover:nth-child(2) h3{
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, 0);
    font-size: 1.75vw;
    color: black;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:hover:nth-child(3) h3{
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, 0);
    font-size: 2vw;
    color: black;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:hover:nth-child(4) h3{
    top: 30%; 
    left: 50%; 
    transform: translate(-50%, 0);
    font-size: 2vw;
    color: black;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:hover:nth-child(5) h3{
    top: 15%; 
    left: 50%; 
    transform: translate(-50%, 0);
    font-size: 2vw;
    color: black;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:hover:nth-child(6) h3{
    top: 35%; 
    left: 50%; 
    transform: translate(-50%, 0);
    font-size: 2vw;
    color: black;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:not(:hover) h3{
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: gold;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:hover p{
    opacity: 1;
    transition: opacity 2s ease;
}#turismo div:not(:hover) p{
    opacity: 0;
    transition: opacity 0.5s ease;
}
#turismo div:hover:nth-child(6) h3{
    top: 37%; 
    left: 50%; 
    transform: translate(-50%, 0);
    font-size: 2vw;
    color: black;
    transition: top 1s ease, font-size 1s ease, color 1s ease;
}
#turismo div:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
}
#turismo div:nth-child(2){
    grid-column: 1/2;
    grid-row: 6/8;

}
#turismo div:nth-child(3){
    grid-column: 2/3;
    grid-row: 1/6;
}
#turismo div:nth-child(4){
    grid-column: 1/2;
    grid-row: 3/6;
}
#turismo div:nth-child(5){
    grid-column: 1/2;
    grid-row: 8/10;
}
#turismo div:nth-child(6){
    grid-column: 2/3;
    grid-row: 6/10;
    margin-top: -5vw;
}
footer em{
    margin-left: 37vw;
    text-align: right;
    color: rgb(187, 183, 183);
}
footer{
    margin-top: 3vw;
}
#intinerario div ul{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}
#intinerario div{
    margin-bottom: 2vw;
}
#intinerario div:hover ul{
    max-height: 1000px;
    opacity: 1;
}
#costos ol li ul{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}
#costos ol li{
    margin-bottom: 1.5vw;
}
#costos ol li:hover ul{
    max-height: 1000px;
    opacity: 1;
}

